
.login-form{
  text-align: center;
  flex-direction: column;

}
.header{
  margin-top: 3em;
}
.Logout{
  text-align: center;
}
input {
  margin-top: 6px;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: lightgrey;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}
