.App{
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: lightblue;
}
.navPosts {
  min-width: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.linkNav {
  text-decoration: none;
  color: black;
}
.buttonHit {
  display: flex;
  justify-content: center;
}
.comments{
  display: flex;
  justify-content: space-around;
  text-align: center;
  min-height: 5vh;
  width: 10em;
  background-color: lightblue;
}
